* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

body {
    font-size: 100%;
    font-family: 'Open Sans', 'Lucida Grande', Helvetica, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    color: #394247;
}

h1, h2, h3, h4, h5, h6 {
    color: #4b4b4b;
    font-family: 'museo-sans-rounded';
    margin: 0;
    text-align:center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


a:visited,
a {
  text-decoration: none;
  color: #54b1e9;
}

.wrapped {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

#container {
    min-height: 100%;
    position: relative;
}

#container p {
    font-size: 1em;
    line-height: 1.25;
}


#logo {
    background: #27A9E1;
    height: 200px;
    text-align: center;
}

#logo img {
	margin-top:50px;
}

#header, #signup, #events {
	background: #fff;
	overflow: hidden;
}



h1, h2 {
  color: #27A9E1;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

#header p {
	text-align: center;
}

#signup {
	height:125px;
}

#hero {
	position: absolute;
	top:0;
	left:0;
	height: 1500px;
	width: 100%;
	background: url('/assets/img/hero.jpg') no-repeat fixed;
}

#hero_viewport {
  height: 300px;
}


#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }

form#mc-embedded-subscribe-form input[type=email] {
    width: 80%;
    float: left;
    padding: 12px 10px;
    border-radius: 3px 0px 0px 3px;
    border-color: #4b4b4b;
    font-family: "museo-sans-rounded";
    font-size: 2em;

    -webkit-transition: all 0.333s ease-in-out;
    -moz-transition: all 0.333s ease-in-out;
    -ms-transition: all 0.333s ease-in-out;
    -o-transition: all 0.333s ease-in-out;
    transition: all 0.333s ease-in-out;
}

form#mc-embedded-subscribe-form:hover input[type=submit] {
    background: #63c1f8;
}

form#mc-embedded-subscribe-form:hover input[type=submit],
form#mc-embedded-subscribe-form:hover input[type=email] {
    border-color: #63c1f8;
}

form#mc-embedded-subscribe-form input[type=submit] {
    display: inline;
    float: right;
    width: 20%;
    padding: 12px 10px;
    margin: 0;
    border-radius: 0px 3px 3px 0px;
    background: #4b4b4b;
    color: white;
    border-color: #4b4b4b;
    font-family: "museo-sans-rounded";
    font-size: 2em;

    -webkit-transition: all 0.333s ease-in-out;
    -moz-transition: all 0.333s ease-in-out;
    -ms-transition: all 0.333s ease-in-out;
    -o-transition: all 0.333s ease-in-out;
    transition: all 0.333s ease-in-out;
}

/*
  Event layout: A brief treatise on the grid system herein.

  The event component is divided into a grid system with three columns: two
  `.event-col-mini` and one `.event-col-large`. The second `.event-col-mini`
  also has the `.event-col-pivot` class. This is a special grid unit: it starts
  in its normal place in the document order (the second column), and then on
  large screens it moves and becomes the right-most column. Weird, right? To see
  this in action, look at the event section and resize your browser a lot.
*/

.event-col {
  margin-top: 16px;
}

.event-col:first-child {
  margin-top: 8px;
}

@media only screen and (min-width: 400px) {
  .event-col {
    float: left;
    padding-right: 16px;
  }

  .event-col:first-child {
    margin-top: 0;
  }

  .event-col-mini {
    width: 50%;
    margin-top: 0;
  }

  .event-col-pivot {
    padding-right: 0;
    text-align: right;
  }
}

@media only screen and (min-width: 900px) {
  .event-col-mini {
    width: 25%;
  }

  .event-col-large {
    width: 50%;
    margin-top: 0;
  }

  .event-col-pivot {
    float: right;
  }
}

@media only screen and (min-width: 1100px) {
  .event-col-mini {
    width: 20%;
  }

  .event-col-large {
    width: 60%;
  }

  .event-description {
    font-size: 16px;
  }
}

/* Event component styles */

#events {
  min-height: 700px;
  padding: 24px 24px 44px;
}

.event {
  margin-top: 36px;
}

.event-thumbnail {
  max-width: 50px;
  margin-bottom: 10px;
}

.event-title {
  overflow: hidden;
  padding-bottom: 8px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

.event-content {
  clear: both;
  border-top: 1px solid #ddd;
}

.event-detail {
  font-size: 13px;
}

.event-detail p {
  margin: 0 0 12px;
}

.event-detail p:last-child {
  margin-bottom: 0;
}

.event-detail em {
  display: block;
  color: #999;
}

.event-detail b {
  display: block;
}

.event-description {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.event-description p {
  margin: 0;
  line-height: 1.4;
}

@media only screen and (min-width: 400px) {
  .event-content {
    padding-top: 8px;
  }
}

@media only screen and (min-width: 500px) {
  .event {
    margin-top: 60px;
  }

  .event-thumbnail {
    float: left;
    max-width: 100px;
    margin-top: 4px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  .event-title {
    margin-bottom: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid #ddd;
  }

  .event-content {
    clear: none;
    overflow: hidden;
    padding-top: 0;
    border-top: 0;
  }
}

@media only screen and (min-width: 1100px) {
  .event-description {
    font-size: 16px;
  }
}

#events #add-event {
    text-align: center;
    margin: 60px 0 60px 0;
}

#sponsors {
    text-align: center;
    margin-bottom:100px;
}

#sponsors #add-sponsor {
    text-align: center;
    margin: 100px 0 100px 0;
}


.btn {
  position: relative;

  display: block;
  width: 100%;
  height: 48px;
  padding: 0 14px;
  border: 1px solid #bbb;
  border-radius: 4px;

  background-color: #eee;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0));
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  color: #333;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
  vertical-align: middle;
}

.btn:focus {
  outline: none;
}

.btn:active {
  top: 1px;

  background-image: none;
  box-shadow: none;
}

.btn-large {
  display: block;
  width: 100%;
  height: 48px;
  margin: 10px 0 24px;

  font-size: 16px;
}

.btn-primary {
  border-color: #207FE5;

  background-color: #207FE5;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.3), rgba(255,255,255,0));
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  color: #fff;
  text-shadow: 0 -1px 0 #207FE5;
}

@media only screen and (min-width: 1100px) {
  .btn {
    display: inline-block;
    width: auto;
  }

  .btn-large {
    width: 100%;
  }
}

.sct-head:hover .sct-anchor {
  opacity: 0.6;
}

.sct-anchor {
  position: relative;
  top: -3px;
  left: 8px;

  font-size: 24px;
  text-decoration: none;

  opacity: 0;
  color: #ccc;

  .transition(0.5s, ease);
}

.sct-anchor:before {
    content: "\00B6";
}

.sct-anchor:hover {
    text-decoration: none;
}

#footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20px;
    width:100%;
    background: #27A9E1;
    color: #fff;
}

#footer a, #footer a:visited {
    color: #ccc;
}
